<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /* Copyright (c) 2019-present Acrolinx GmbH */
  -->

<configuration>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Support multiple-JVM writing to the same log file -->
        <prudent>true</prudent>
        <!-- can not be set for prudent-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log-dir-path}/%d{yyyy-MM-dd}-${application-name}.%i.log</fileNamePattern>
            <!-- each file should be at most 1MB, keep 30 days worth of history, but at most 5MB -->
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d | [%-5p] %c : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d | [%-5p] %c : %m%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <!--appender-ref ref="STDOUT"/-->
        <appender-ref ref="ROLLING"/>
    </root>

</configuration>