name: Release Snapshot Version
on:
  workflow_dispatch:

jobs:
  Release-Snapshot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Gradle build
        env:
          ACROLINX_URL: ${{ secrets.ACROLINX_URL }}
          ACROLINX_API_USERNAME: ${{ secrets.ACROLINX_API_USERNAME }}
          ACROLINX_API_TOKEN: ${{ secrets.ACROLINX_API_TOKEN }}
          ACROLINX_API_SSO_TOKEN: ${{ secrets.ACROLINX_API_SSO_TOKEN }}
          ACROLINX_DEV_SIGNATURE: ${{ secrets.ACROLINX_DEV_SIGNATURE }}
        run: ./gradlew build

      - name: Publish Artifacts
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.CODE_SIGNING_PRIV_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.CODE_SIGNING_PWD }}
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.SONATYPE_PW }}
        run: ./gradlew publishToSonatype
